name: Deploy Release

on:
  push:
    tags:
      - 'v*'

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4

      - name: Get the version
        id: get_version
        run: echo "IMAGE_TAG=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image with tag
        run: |
          docker build -t guimauvedigital/controlresell-keepclose:${{ env.IMAGE_TAG }} .
          docker push guimauvedigital/controlresell-keepclose:${{ env.IMAGE_TAG }}
